a:link {color:blue; text-decoration:none}
a:visited {text-decoration:none;}
a:active {color:red; text-decoration:none}
a:hover {color:red; text-decoration:none; position:relative; left:1px; top:1px}
.login {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 8px;
    width:1245px;
    height: 85px;
    border:1px solid #000
}
.menu {
    position: absolute;
    float: left;
    width: 150px;
    height: 500px;
    top: 97px;
    border: 1px solid #000;
}
.content {
    position: absolute;
    top: 97px;
    left: 165px;
    height: 650px;
    width: 1089px;
    border: 1px solid #000;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.user {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 5px;
}
table{
    border-collapse:collapse;
    *border-collapse: collapse;
    border-spacing: 0;
}
table td{
    border: 1px solid #666666;
    background-color: #ffffff;
}
table th{
    padding: 8px;
    border: 1px solid #666666;
    background-color: #dedede;
}
input.text{
    border: 1px solid #CCC;

}
ul{
    list-style: none;
    /*color: #003F76;*/
    /*line-height: 25px;*/
}